before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

dist: trusty
cache: pip
language: python
python:
    - "3.5"
    - "3.5-dev"
    - "3.6"
    - "3.6-dev"
    - "3.7"

# TODO: Add the test for python 3.3

# command to install dependencies
install:
    - pip install --upgrade pip setuptools wheel
    - pip install Cython
    - pip install -r requirements.txt --only-binary=numpy,scipy,cvxopt
script:
    - nosetests --with-coverage

after_success:
    - codecov
